@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

body{
	background-color: rgb(213,233,240);
}

div {
	background: rgb(213,233,240);

}

li {
	display: inline;
}


#hello {
	font-family: 'Courier Prime', monospace;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-top:30px;
	margin-bottom:30px;

}

.nav{
	list-style-type: none;
	background-color: rgb(213,233,240);
	text-align: center;
	overflow: hidden;
	margin-left: auto;
	margin-right:auto;
	margin-top:20px;
	margin-bottom:20px;
	width: 50%;
}

.nav a {
  	text-align: center;
  	padding: 14px 7px;
  	text-decoration: none;
  	font-size: 17px;
  	font-family: Arial, Helvetica, sans-serif;
}

.Intro{
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 40%;
	text-align:center;
}


.intro img{
	float:left;

}

.Experience{
	margin: auto;
	width: 50%;
	text-align:center;

}

.Projects{
	margin:auto;
	width:50%;
	text-align: center;

}






